{% extends 'base.html' %}
{% load  static %}

{% block child %}
    
    {% include 'User-Navbar.html' %}

    <section class="cart-section fix3 row p-3 m-0">

        <div class="d-flex inner fix2 col-12">
            <div class="child-section shadow">
                <div class="d-flex header-2">
                    <h2 class="inline">Cart Items</h2>
                </div>

                <div class="row no-margin">
                    
                {% for item in cart %}
                    <div class="col-11 ms-auto me-auto m-2 go-flex cart-card d-flex">
                        <div class="d-flex">
                            <img src="{{ item.course_id.image.url }}" class="me-2" width="100" height="75" alt="">
                            <div>
                                <p><b>{{ item.course_id.title }}</b></p>
                                <p class="text-small"><b>Tutor : </b>{{ item.course_id.owner|title }}</p>
                                <p class="text-small"><b>Duration : </b>{{ item.course_id.duration }}</p>
                                <p class="text-small"><b>Rating : </b> {{ item.course_id.rating }}</p>
                            </div>
                        </div>
                        <div class="d-flex ms-auto">
                            <p class="ms-auto align-self-center me-1"><b>Price : $ {{ item.course_id.price }}</b> </p>
                            <form action="{% url 'delete_cart_item' item.id %}" class="d-flex" method="post">
                                {% csrf_token %}
                                <button type="submit" style="background-color: transparent;" class="align-self-center b-none"><img
                                        src="{% static 'delete.png' %}" height="50" width="50" alt=""></button>
                            </form>
                        </div>
                    </div>    
                {% endfor %}

                {% if not cart %}
                <div class="col-11 ms-auto me-auto cart-card d-flex">
                    <h3 class="ms-auto me-auto">No Items in Cart</h3>
                </div>  
                {% endif %}

                </div>

            </div>

            <div class="child-section shadow">
                <div class="d-flex header-2">
                    <h2 class="inline">Payment</h2>
                </div>
                <div class="row no-margin">
                    <p class="col-12 mb-2 mt-3">Supported payment options : </p>
                    
                    <div class="col-12 flex-center fix4 mb-2">
                        <div class="col-md-5 col-12 imgfix payment-option me-5">
                            <img src="{% static 'cashless-payment.png' %}" width="75" height="75" alt="">
                            <h4>Upi</h4>
                        </div>
                        <div class="col-md-5 col-12 imgfix payment-option">
                            <img src="{% static 'wallet.png' %}" width="75" height="75" alt="">
                            <h4>Debit Card</h4>    
                        </div>

                        
                    </div>
                    <div class="col-12 fixm ms-4">

                        <div class="col-md-5 col-12 imgfix mfix fixm payment-option">
                            <img src="{% static 'wallet.png' %}" width="75" height="75" alt="">
                            <h4>Net Banking</h4>    
                        </div>
  
                    </div>


                    <div class="col-12 ms-3 mt-2">
                        <div>
                            <p><b>Sub Total</b> : $ {{total}}</p>
                            <p><b>Platform Fee</b> : $ {{platform_fee}}</p>
                            <p><b>Grand Total</b> : $ {{ grand_total }}</p>
                        </div>
                    </div>
                </div>

                <button id="enroll-btn" class="mfix-2 col-11 ms-auto me-auto mt-1 btn-1-no-width">Enroll Now</button>

            </div>
        </div>

    </section>


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    var options = {
       
      // Your/store name.
      name: "Learner.io",
       
      // Pass the `id` obtained in the response of Step 1
      order_id: "{{ razorpay_order_id }}",
      callback_url: "/user/razorpay-payment",
    };
     
    // initialise razorpay with the options.
    var rzp1 = new Razorpay(options);
    // add event listener to the payment button.
    document.getElementById("enroll-btn").onclick = function (e) {
      rzp1.open();
      e.preventDefault();
    };
  </script>
        
{% endblock child %}
    