{% extends 'base.html' %}
{% load static %}


{% block child %}
    
{% include 'User-Navbar.html' %}
    

    <section id="admin-section" class="container d-block" >
        <div class="admin-profile-banner">
            <div class="text-center">
                <img src="{% if user.profile_pic %} {{ user.profile_pic.url }} {% else %} {% static 'user.png' %} {% endif %}" class="profile-pic-admin-dashboard" width="100" height="100" alt="">
                <h3>{{ user.username }}</h3>
                {% if not user.profile_pic %} 
                <h5 class="mt-2 bg-light p-2">You didn't filled your profile yet,fill it right <a href="{% url 'edit_profile' user.id %}">here</a></h5>
                {% endif %}
            </div>
        </div>

        <div class="admin-section-row">

            <div class="row gy-3 gx-0">

                <div class="col-md-4 flex-center">
                    <div class="admin-card d-flex mt-2" onclick="location.href='/user/my-courses/'">
                        <div>
                            <h3>My courses</h3>
                            <p>View and Track your purchased courses</p>
                        </div>
                        <img src="{% static 'book.png' %}" width="100" height="100" alt="">
                    </div>
                </div>

                <div class="col-md-4 pt-2 flex-center">
                    <div class="admin-card d-flex" onclick="location.href='/user/wishlist/'">
                        <div>
                            <h3>Wishlist</h3>
                            <p>View and Manage Your wishlist Here</p>
                        </div>
                        <img src="{% static 'wishlist.png' %}" width="100" height="100" alt="">
                    </div>
                </div>

                <div class="col-md-4 pt-2 flex-center">
                    <div class="admin-card d-flex" onclick="location.href='/user/cart'">
                        <div>
                            <h3>Cart</h3>
                            <p>Browse or Enroll to courses in your cart</p>
                        </div>
                        <img src="{% static 'shopping-cart.png' %}" width="100" height="100" alt="">
                    </div>
                </div>

                <div class="col-md-4 flex-center" onclick="location.href='/user/edit-profile/{{ user.id }}'">
                    <div class="admin-card d-flex">
                        <div>
                            <h3>Edit Profile</h3>
                            <p>Edit your account profile</p>
                        </div>
                        <img src="{% static 'user(1).png' %}" width="100" height="100" alt="">
                    </div>
                </div>

                <div class="col-md-4 flex-center">
                    <div class="admin-card d-flex" onclick="location.href='/user/change-password'">
                        <div>
                            <h3>Password</h3>
                            <p>Change password for your account</p>
                        </div>
                        <img src="{% static 'secure.png' %}" width="100" height="100" alt="">
                    </div>
                </div>

                <div class="col-md-4 mb-2  flex-center">
                    <div class="admin-card d-flex" data-bs-toggle="modal" data-bs-target="#delete-modal">
                        <div>
                            <h3>Delete Account</h3>
                            <p>Remove your account and data from us</p>
                        </div>
                        <img src="{% static 'remove-user.png' %}" width="100" height="100" alt="">
                    </div>
                    
                </div>

                <div class="modal" id="delete-modal" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Confirm</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure deleting your account : {{ user.username }}</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'delete_account' %}" class="btn-1-no-width">Confirm</a>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>

        </div>

    </section>


{% endblock child %}
    