{% extends 'base.html' %}
{% load static %}

{% block child %}
    
{% include 'User-Navbar.html' %}

<section>

    <section class="container admin-users-view view-section shadow">
        <div class="d-flex header">
            <h2 class="inline">Wishlist</h2>
        </div>
        <div class="row gy-3 d-flex center overflow-auto view-row">
            
            {% for items in wishlist %}
            <div class="col-md-12 d-flex primary-view view2 wishcourse course-card-flex-col">
                
                <div class="d-flex flex-dir-col">
                    <img class="image" src="{{ items.course_id.image.url }}" width="150" height="100" alt="" srcset="">

                        
                    <div class="ms-2 small">
                        <h3>{{ items.course_id.title }}</h3>
                        <p class="text-small">Tutor : {{ items.course_id.owner.user_id.username }}</p>
                        <p class="text-small">Duration : {{ items.course_id.duration }} Months</p>
                        <p class="text-small">{{ items.course_id.level }}-{{ items.course_id.chapters }} Chapters</p>
                    </div>
                </div>
                <div class="ms-auto me-2 d-flex btn-flex">
                    <a href="{% url 'add_to_cart' items.course_id.id %}" class="btn-1">To cart</a>
                    <form action="{% url 'delete_wishlist_item' items.id %}" method="post">
                        {% csrf_token %}
                    <button type="submit" class="btn-1">Remove</button>
                    </form>
                </div>
            </div>
            {% endfor %}

            {% if not wishlist %}
            <div class="col-md-12 d-flex primary-view">
                <h3 class="ms-auto me-auto self-center">No Item in Wishlist</h3>
            </div>
            {% endif %}
                
        </div>

    </section>

</section>


{% endblock child %}
    